<footer id="footer" role="contentinfo">
    <div class="center clearfix">
        <div class="infos">
            <ul class="midias clearfix">
                <li><a href="javascript:void(0);" class="facebook ir btn">Facebook</a></li>
                <li><a href="javascript:void(0);" class="twitter ir btn">Twitter</a></li>
                <li><a href="javascript:void(0);" class="youtube ir btn">YouTube</a></li>
            </ul>
            <strong class="union">União dos Escoteiros do Brasil<br> Rio Grande do Sul</strong>
            <p class="location"><span></span>Rua Castro Alves, 398<br> Bairro Rio Branco - Porto Alegre</p>
            <a href="tel:+555132693963" class="phone"><span class="btn"></span>(51) 3330-9784</a>
        </div>
        <div class="fundation">
            <a href="javascript:void(0);" class="map-site">Ver Mapa Completo do Site</a>
            <div class="logos">
                <a href="javascript:void(0);" class="brand br ir">Escoteiros do Brasil</a>
                <a href="javascript:void(0);" class="brand ir">Scouts</a>
            </div>
        </div>
    </div>
    <div class="developer">
        <a href="http://www.maqina.com.br" title="Desenvolvido por Máqina Internet" target="_blank" class="maqina ir">Máqina Internet</a>
    </div>
</footer>
