<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Event">
<head lang="pt-br">
  <title itemprop="name">Campotec - Acampamento Técnico de Especialidades - Escoteiros do Brasil - Rio Grande do Sul</title>

  <meta charset="utf-8">
  <meta name="author" content="Equipe Regional de Imagem e Comunicação">
  <meta name="description" content="Campotec, Acampamento Técnico de Especialidades, Acampamento Técnico, Especialidades, Lobinho, Lobinha, Lobinhos, Lobinhas, Escoteiro, Escoteira, Escoteiros, Escoteiras, Sênior, Seniores, Guia, Guias">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.escoteirosrs.org.br/2015/campotec/">
  <meta property="og:title" content="Campotec - Acampamento Técnico de Especialidades - Escoteiros do Brasil - Rio Grande do Sul">
  <meta property="og:description" content="Campotec - Acampamento Técnico de Especialidades">
  <meta property="og:image" content="http://www.escoteirosrs.org.br/2015/campotec/facebook.jpg">

  <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,400,600,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/campotec/css/home.css">
</head>
<body>
	<nav class="navegacao">
		<ul class="navegacao-items">
			<li class="navegacao-item"><a href="#home" title="Início" class="navegacao-link">Início</a></li>
			<li class="navegacao-item"><a href="#about" title="Informações Gerais" class="navegacao-link">Informações Gerais</a></li>
			<li class="navegacao-item"><a href="#speakers" title="Especialidades" class="navegacao-link">Especialidades</a>
			</li><li class="navegacao-item"><a href="#programacao" title="Programação" class="navegacao-link">Programação</a></li>
			<li class="navegacao-item"><a href="#location" title="Local" class="navegacao-link">Local</a></li>
			<li class="navegacao-item"><a href="#inscricoes" title="Inscrições" class="navegacao-link">Inscrições</a></li>
		</ul>
	</nav>
<header id="home" class="header">
	<div class="wrapper">
		<h1 class="logo"><a class="logo-link" href="#" title="Campotec" itemprop="name">Campotec</a></h1>
		<p class="evento-head">24 e 25 de maio de 2014 • Parque Saint-Hilaire</p>
		<p class="evento-slogan">Inscrições encerradas!</p>
       <p style="font-weight:bold; color:#FFF;">Confira a lista dos inscritos por base.</p>

		<div style="width:100%; text-align:center;"><a href="relação-ramo-escoteiro.pdf" class="call-action-link" target="_blank">Ramo Escoteiro</a></div>
        <br>
<table width="100%" border="0" cellspacing="0" cellpadding="5" style="background-color:#FFF;">
  <tr>
    <td><a href="01Aeromodelismo.pdf" target="_blank">Aeromodelismo</a></td>
    <td><a href="02Arcoeflecha.pdf" target="_blank">Arco e Flecha</a></td>
    <td><a href="03Cartografia.pdf" target="_blank">Cartografia</a></td>
    <td><a href="04Culinaria.pdf" target="_blank">Culinária</a></td>
    <td><a href="05FotografiaDigital.pdf" target="_blank">Fotografia Digital</a></td>
    <td><a href="06Jornalismo.pdf" target="_blank">Jornalismo</a></td>
    <td><a href="07Meteorologia.pdf" target="_blank">Meteorologia</a></td>
  </tr>
  <tr>
    <td><a href="08PrimeirosSocorros.pdf" target="_blank">Primeiros Socorros</a></td>
    <td><a href="09Rastreamento.pdf" target="_blank">Rastreamento</a></td>
    <td><a href="10Sinalizacao.pdf" target="_blank">Sinalização</a></td>
    <td><a href="11Sobrevivencia.pdf" target="_blank">Sobrevivência</a></td>
    <td><a href="12TecdeSapa.pdf" target="_blank">Técnicas de Sapa</a></td>
    <td><a href="13PrevensaoaoCrime.pdf" target="_blank">Prevensão ao Crime</a></td>
    <td><a href="14Almoxarifado.pdf" target="_blank">Almoxarifado</a></td>
  </tr>
</table>

	</div>
</header>

<section class="section section-about" id="about">
	<div class="wrapper">

		<h2 class="section-title">Informações Gerais</h2>
		<div class="about-text" itemprop="description">
		<p>O Campotec - Acampamento Técnico de Especialidades - é uma atividade que visa desenvolver habilidades nos jovens lobinhos(as), escoteiros(as), seniors e guias, para uma futura obtenção de especialidades.</p>
		<p>Todos os participantes (jovens, escotistas e pessoal de apoio) acamparão. Não haverá espaço para acantonamento.</p>
		<p>A alimentação é de responsabilidade do Grupo Escoteiro e para isso, serão oferecidos quiosques para utilização de um ou mais Grupos Escoteiros.</p>
		<p>Após o encerramento das inscrições todos os participantes receberão informações em seu endereço eletrônico sobre as atividades oferecidas no evento.</p>
		<p>Serão observadas todas as regras de segurança, bem como todas as resoluções previstas para o bom andamento da atividade, sendo então proibido o consumo de bebidas alcoólicas, perturbação de ambiente e evitar o fumo na frente dos jovens, principalmente, durante as atividades.</p>
		</div>
	</div>
</section>

<section class="section section-speakers" id="speakers">
	<div class="wrapper">

		<h2 class="section-title title-white">Ramo Lobinho</h2>

		<ul class="speakers-list">

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/aeromodelismo.jpg" alt="Aeromodelismo" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Aeromodelismo</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Aeromodelismo.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/investigacao.jpg" alt="Investigação" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Investigação</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Investigacao.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/jornalismo.jpg" alt="Jornalismo" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Jornalismo</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Jornalismo.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/magica-e-ilusionismo.jpg" alt="Mágica e Ilusionismo" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Mágica e Ilusionismo</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Magica_e_ilusionismo.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/primeiros-socorros.jpg" alt="Primeiros Socorros" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Primeiros Socorros</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Primeiros_socorros.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/rastreamento.jpg" alt="Rastreamento" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Rastreamento</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Rastreamento.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

		</ul>
		<br />

		<h2 class="section-subtitle title-white">Ramo Escoteiro</h2>

		<ul class="speakers-list">

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/aeromodelismo.jpg" alt="Aeromodelismo" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Aeromodelismo</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Aeromodelismo.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/arco-e-flecha.jpg" alt="Arco e Flecha" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Arco e Flecha</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Arco_e_flecha.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/cartografia.jpg" alt="Cartografia" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Cartografia</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Cartografia.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/culinaria.jpg" alt="Culinária" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Culinária</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Culinaria.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/fotografia-digital.jpg" alt="Fotografia Digital" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Fotografia Digital</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Fotografia_digital.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/jornalismo.jpg" alt="Jornalismo" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Jornalismo</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Jornalismo.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/meteorologia.jpg" alt="Meteorologia" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Meteorologia</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Metereologia.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/primeiros-socorros.jpg" alt="Primeiros Socorros" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Primeiros Socorros</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Primeiros_socorros.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/rastreamento.jpg" alt="Rastreamento" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Rastreamento</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Rastreamento.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/sinalizacao.jpg" alt="Sinalização" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Sinalização</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Sinalizacao.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/sobrevivencia.jpg" alt="Sobrevivência" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Sobrevivência</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Sobrevivencia.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/tecnicas-de-sapa.jpg" alt="Técnicas de Sapa" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Técnicas de Sapa</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Tecnicas_de_sapa.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

		</ul>

		<br />

		<h2 class="section-subtitle title-white">Ramo Sênior</h2>

		<ul class="speakers-list">

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/acampamento.jpg" alt="Acampamento" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Acampamento</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Acampamento.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/cartografia.jpg" alt="Cartografia" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Cartografia</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Cartografia.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/pioneiria.jpg" alt="Pioneiria" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Pioneiria</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Pioneiria.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/prevencao-a-incendio.jpg" alt="Prevenção a incêndio" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Prevenção a incêndio</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Prevencao_a_incendio.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/primeiros-socorros.jpg" alt="Primeiros Socorros" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Primeiros Socorros</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Primeiros_socorros.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/sinalizacao.jpg" alt="Sinalização" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Sinalização</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Sinalizacao.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/sobrevivencia.jpg" alt="Sobrevivência" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Sobrevivência</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Sobrevivencia.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>

			<li class="eventos-item" itemprop="performer" itemscope=""><img class="eventos-photo" src="/static/campotec/img/especialidades/tecnicas-verticais.jpg" alt="Técnicas verticais" itemprop="image" /><div class="eventos-info"><h3 class="eventos-name">Técnicas verticais</h3><p class="eventos-bio"><a href="http://www.escoteiros.org.br/arquivos/especialidades/Tecnicas_verticais.pdf" target="_blank">Clique aqui e confira os itens desta especialidade</a></p></div></li>
		</ul>

	</div>
</section>

<section class="section section-programacao" id="programacao">
	<div class="wrapper">
		<h2 class="section-title">Programação</h2>

		<p>Sábado (24 de maio)</p>

		<ul class="programacao">

			<li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">08:00</span><img src="/static/campotec/img/programacao/closing.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Bandeira</div></div>
            </li>
			<li id="programacao-abertura" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">08:30</span><img src="/static/campotec/img/programacao/check-in.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Boas-vindas e Instruções</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker"><div class="programacao-intro">
                <div class="programacao-intro-board"><span class="programacao-time">09:00</span><img src="/static/campotec/img/programacao/especialidades.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">1º turno de especialidades </div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">09:00</span><img src="/static/campotec/img/programacao/escotistas.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">Reunião com Escotistas</div></div>
            </li>
			<li id="programacao-almoço" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">12:00</span><img src="/static/campotec/img/programacao/lunch.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Almoço por grupo</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">14:00</span><img src="/static/campotec/img/programacao/especialidades.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">2º turno de especialidades</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">15:00</span><img src="/static/campotec/img/programacao/escotistas.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">Reunião com Escotistas</div></div>
            </li>
			<li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">18:00</span><img src="/static/campotec/img/programacao/closing.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Bandeira</div></div>
            </li>
			<li id="programacao-almoço" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">19:00</span><img src="/static/campotec/img/programacao/lunch.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Janta</div></div>
            </li>
			<li id="programacao-almoço" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">21:00</span><img src="/static/campotec/img/programacao/noturno.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Atividades Noturnas</div></div>
            </li>
			<li id="programacao-almoço" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">00:00</span><img src="/static/campotec/img/programacao/silencio.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Silêncio</div></div>
            </li>
		</ul>

		<p>Domingo (25 de maio)</p>

		<ul class="programacao">
			<li id="programacao-abertura" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">07:00</span><img src="/static/campotec/img/programacao/coffee.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Alvorada e Café</div></div>
            </li>
			<li id="programacao-abertura" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">08:00</span><img src="/static/campotec/img/programacao/closing.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Bandeira</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">9:00</span><img src="/static/campotec/img/programacao/atividade.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">Atividade Matinal</div></div>
            </li>
			<li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">08:45</span><img src="/static/campotec/img/programacao/check-in.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Instruções</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">9:00</span><img src="/static/campotec/img/programacao/especialidades.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">1º turno de especialidades </div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">10:00</span><img src="/static/campotec/img/programacao/escotistas.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">Reunião com Escotistas</div></div>
            </li>
			<li id="programacao-almoço" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">12:00</span><img src="/static/campotec/img/programacao/lunch.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Almoço por grupo</div></div>
            </li>
			<li class="programacao-item programacao-item-speaker">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">13:00</span><img src="/static/campotec/img/programacao/especialidades.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><span class="programacao-speaker"></span><div class="programacao-activity">2º turno de especialidades</div></div>
            </li>
			<li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">15:30</span><img src="/static/campotec/img/programacao/generico.jpg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Encerramento das Bases</div></div>
            </li>
			<li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                <div class="programacao-intro"><div class="programacao-intro-board"><span class="programacao-time">16:00</span><img src="/static/campotec/img/programacao/closing.svg" class="programacao-image" /></div></div><div class="programacao-slot"><div class="programacao-activity">Bandeira</div></div>
            </li>
		</ul>

	</div>
</section>

<section class="section section-location" id="location">
	<div class="wrapper">
		<h2 class="section-title">Local</h2>
		<div class="address" itemprop="address" itemtype="http://schema.org/PostalAddress">Campo Escola Escoteiro - João Ribeiro do Santos | Parque Saint-Hilaire<br /><span itemprop="streetAddress">Avenida Senador Salgado Filho, 2785</span> • <span itemprop="addressLocality">Viamão</span> • <span itemprop="addressRegion">Centro • RS</span></div>
	</div>
	<div class="address-map" data-address="Avenida Senador Salgado Filho, 2785 - Viamão"></div>
</section>

<section class="section section-inscricoes" id="inscricoes">
	<div class="wrapper">
		<h2 class="section-title">Inscrições</h2>
		<div class="about-text" itemprop="description">
		<p>A inscrição de todos participantes deve ocorrer através do <a href="http://sigue.escoteiros.org.br/siguejovem" target="_blank">Meu Sigue</a>, nas opções (Jovem, Adulto ou Equipe de Serviço). </p>
		<p>Os jovens e adultos deverão encaminhar suas fichas de inscrição do SIGUE devidamente autorizados. O limite para inscrição é 24/04.</p>
		<p>O valor de inscrição dos jovens é de R$ 25,00.</p>
		<p>O jovem após se inscrever, irá escolher as especialidades  oferecidas, através de formulário online cujo endereço seja enviado por e-mail. Cada jovem participará de oficinas de especialidade, conforme o que o seu ramo oferecer.</p>
		<p>O período de inscrição para a Equipe de Serviço estará disponível no no Meu Sigue entre 24/03 e 24/04, com valor de R$ 15,00 (cobre certificado, distintivo do evento). Alimentação não inclusa!</p>
		<p>Os escotistas acompanhantes receberão capacitação para trabalhar com especialidades e fichas de atividades, bem como a avaliação de níveis conquistados pelos jovens.</p>
		<p>Os membros das equipes de apoio dos Grupos Escoteiros participantes ingressarão no evento pagando a taxa de uso do parque que é R$ 15,00 (Taxa de uso + lembrança do evento), devendo ser paga no campo escola.</p>
		<p>Os Grupos Escoteiros participantes devem identificar seus colaboradores através de um e-mail para secretaria@escoteirosrs.org.br com o titulo de: Informação apoio Campotec 2014 + Numeral e nome do GE, e no corpo de email a relação das pessoas com Nome, RG e Celular até o dia 15 de maio.</p>
		</div>
	</div>
</section>

<section class="section section-sponsors" id="sponsors">
	<div class="wrapper">
		<h2 class="section-title" style="color:#FFF !important;">Realização</h2>
		<ul class="partners-list">
			<li class="partner-item" itemtype="http://schema.org/Organization"><img src="/static/campotec/img/escoteiros-do-brasil.png" alt="Assistência Regional do Ramo Pioneiro" class="partner-logo" itemprop="image" /></li>
		</ul>
	</div>
</section>
<div class="footer"><div class="wrapper"><div class="credits"><a href="http://www.escoteirosrs.org.br/index.php?option=pessoa&id=22&Itemid=269" target="_blank">Equipe Regional</a> de Imagem e Comunicação</div></div></div>
<script src="/static/campotec/js/home.js"></script>
</body>
</html>
