{% extends 'campotec/homepage.html' %}
{% load i18n bootstrap3 bootstrap_admin_template_tags %}

{% block menu-itens %}
    <li><a class="navbar-brand hidden-xs" href="{% url 'campotec-homepage' %}">Campotec</a></li>
    <li><a href="#home" title="Início" class="navegacao-link">Início</a></li>
    <li><a href="#speakers" title="Especialidades" class="navegacao-link">Especialidades</a></li>

{% endblock %}

{% block login-information %}
    <div style="width:100%; text-align:center;">
    {% if user.is_authenticated %}
        <h2 class="title-white">{% bootstrap_icon 'user' %} Olá {{ user.first_name }}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'campotec-logout' %}" class="title-white"> {% bootstrap_icon 'off' %} Sair</a>
        </h2>
    {% else %}
        <a href="{% url 'campotec-login' %}" id="btn-inscription" class="call-action-link">Inscreva-se</a>
    {% endif %}
    </div>
{% endblock %}

{% block content-sections %}

     <section class="section section-speakers" id="speakers">
        <div class="wrapper">
            <h2 class="title-white">Escolha as especialiades que deseja participar.</h2>
            <p class="title-white">Selecione <strong>4 especialidades</strong> para participar. <strong>Fique Alerta!</strong> Selecione somente duas especialidades por dia ou uma que ocorra durante a Manhã e Tarde.</p>

          <form name="form_inscription" action="{% url 'campotec-inscription' %}" method="POST">
              {% csrf_token %}
              {% for branch in object_list %}
                <h2 class="section-title title-white">{{ branch.name }} </h2>
                {% if branch.list_specialties %}
                    <ul class="speakers-list">
                    {% regroup branch.list_specialties by date as date_list %}

                    {% for date in date_list %}
                        <p class="eventos-data">{{ date.list.0.date|date:"d \d\e F \d\e Y - l"}}</p>

                        {% for specialty in date.list %}

                            <li class="eventos-item" itemprop="performer" itemscope="">
                                <img class="eventos-photo" src="{{ MEDIA_URL }}{{ specialty.image }}" alt="Aeromodelismo" itemprop="image" />
                                <div class="eventos-info">
                                    <h3 class="eventos-name">{{ specialty.name }} - {{ specialty.get_turn_display }}</h3>
                                    <p class="eventos-bio">{{ specialty.description }}</p>

                                    <p class="eventos-inscriptions"><strong>{% bootstrap_icon 'th' %} Vagas: {{ specialty.num_places }} &nbsp;&nbsp;&nbsp;&nbsp;
                                        {% bootstrap_icon 'tags' %} &nbsp;Inscritos: {{ specialty.inscription.all|length }} &nbsp;&nbsp;
                                        <label class="btn btn-primary btn-inscription">
                                            <input class="check-inscription" type="checkbox" value="{{ specialty.pk }}" name="check_inscription" {% if specialty.is_inscribed %} checked {% endif %}>
                                            Participar!
                                        </label>
                                    </strong>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}

                    {% endfor %}
                    </ul>
                        <div class="row" id="block_error">
                        <div class="col-md-2">
                            <button type="submit" class="btn-lg btn-success" style="width: 100%;">Salvar</button>
                        </div>

                        <div class="col-md-10">
                        {% if error %}
                            {% bootstrap_alert error 'danger' %}
                        {% endif %}
                        </div>
                    </div>


                {% else %} {% comment %}Nenhuma especialidade disponivel{% endcomment %}
                    <ul class="speakers-list">
                        <li class="eventos-item" itemprop="performer" itemscope=""><div class="eventos-info"><h3 class="eventos-name">{% trans "Nenhum especialidade disponível" %}.</h3></div></li>
                    </ul>
                {% endif %}
                <br/>
                <br/>
              {% endfor %}
          </form>
        </div>
    </section>

{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        {% if error %}
            Campotec.setPageScroll('#block_error');
        {% endif %}
    </script>
{% endblock %}