{% extends "admin/login.html" %}
{% load i18n %}

{% block content_container %}
    <div id="content-main">
        <div class="row form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p class="text-white">
                {% blocktrans %}
                    Foi enviado um email com um link para alterar sua senha. Acesse seu email e clique neste link para continuar.
                {% endblocktrans %}
                    <a href="{% url 'admin:login' %}">Voltar</a>
                </p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock %}
{% comment %}

{% block bootstrap3_title %}{% trans "Alterar Senha" %}{% endblock bootstrap3_title %}

{% block bootstrap3_content %}
<p>
    {% blocktrans %}
        Foi enviado um email com um link para alterar sua senha. Acesse seu email e clique neste link para continuar.
    {% endblocktrans %}
</p>
{% endblock bootstrap3_content %}
{% endcomment %}
