{% extends "admin/login.html" %}
{% load i18n %}


{% block content_container %}

    <div id="content-main">
        <div class="row form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p class="text-white">
                {% trans "Sua senha foi alterada com sucesso!" %}
                {% trans "Acesse o sistema " %} <a href="{% url 'admin:login' %}">{% trans "Clicando Aqui." %}</a>.
                </p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock %}

{% comment %}
{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block bootstrap3_title %}{% trans "Password reset complete" %}{% endblock bootstrap3_title %}

{% block bootstrap3_content %}
<p>
    {% trans "Sua senha foi alterada com sucesso!" %}
    {% trans "Acesse o sistema agora" %} <a href="{{ login_url }}">{% trans "aqui." %}</a>.
</p>
{% endblock bootstrap3_content %}


{# This is used by django.contrib.auth #}{% endcomment %}
