{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block bootstrap3_title %}{% trans "Email de Ativação enviado" %}{% endblock bootstrap3_title %}

{% block bootstrap3_content %}
<p>{% trans "Por favor, verifique seu email para completar o processo de cadastro." %}</p>
{% endblock bootstrap3_content %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}